.customloop button {
	width: 80px;
	height: 17px;
	cursor: pointer;
	border: 1px solid black;
	background: #fad9fc;
	color: black;
	font-size: 10px;
	float: left;
}

.customloop .functional {
	/*width: 60px;*/
	height: 17px;
	float: right;
}


.customloop .cancel {
	background: lightgray;
}


.customloop h3 {
	font-weight: normal;
	background: transparent;
	text-align: start;
	margin: 0;
	border: 0;
	padding: 0;
	display: inline !important;
	color: black !important;
	font-size: initial !important;
}

.customloop .slider-container {
	width: 99%;
	margin: 5px auto;
}

.customloop input {
	display: inline-block;
	float: right;
	/*100% - img width(20px)*/
	width: calc(100% - 20px);
}

.customloop p {
	font-size: 12px;
}

.customloop .button-container {
	 margin-top: 2px;
}

.customloop .content {
	height: 25px;
}

.customloop .moveright {
	width: 40%;
	float: right;
}

